*.o
*.lo
Makefile
autom4te.cache/
config.h
config.log
config.status
libsvarog.pc
libtool
src/.deps/
src/.libs/
src/libsvarog.la
src/parser.tab.c
src/parser.tab.h
src/svarog
src/svarog-daemon
src/svarog-dummy-client
stamp-h1

